<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!--
    - favicon
  -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml" />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet" />
  </head>

  <body>
    <main>
      <article>
        <!--
        - #GET START
      -->

        <section class="section auth">
          <form action="/login/admin" method="post" class="hero-form">
            <div class="title-wrapper auth">
              <h2 class="h2 section-title">Login Admin</h2>
            </div>

            <div class="input-wrapper">
              <label for="input-1" class="input-label">Username</label>
              <input type="text" name="username" id="input-1" class="input-field" placeholder="whats your username?" autofocus required/>
            </div>

            <div class="input-wrapper">
              <label for="input-2" class="input-label">Password</label>
              <input type="password" name="password" id="input-2" class="input-field" placeholder="secret password here" required/>
            </div>
            <button type="submit" class="btn">Login</button>
          </form>
        </section>
      </article>
    </main>

    <!--
    - custom js link
  -->
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
