<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/glyphicons.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='boxicons/css/boxicons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='icofont/icofont.min.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse" style="background-color: rgb(100, 5, 189)">
      <div class="container">
        <a class="navbar-brand" href="/"> <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />&nbsp;&nbsp;Timbang Mlaku</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'index' %}active{% endif %}" aria-current="page" href="{{ url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'mobil' %}active{% endif %}" href="{{ url_for('mobil')}}">Mobil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page == 'booking' %}active{% endif %}" href="{{ url_for('login')}}">Booking</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link{% if active_page == 'Informasi' %}active{% endif %}">Informasi</a>
            </li>-->
            <li class="nav-item">
              <h5>
                <strong><a class="nav-link bx bx-log-in" href="/login"> Login</a></strong>
              </h5>
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><span class="bx bx-log-in"></span> Login</a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="{{ url_for('static', filename='js/javascrip.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
  </body>
</html>
