<!DOCTYPE html>
<html>
<head>
    <title>Hasil Sewa Mobil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gayaa.css') }}">
</head>
<body>
    <div class="invoice">
        <div class="invoice-header">
            <h2>Invoice Sewa Mobil</h2>
        </div>
        <div class="invoice-details">
            <p>Jenis Mobil: {{ jenis_mobil }}</p>
            <p>Tanggal Pickup: {{ tanggal_pickup }}</p>
            <p>Jam Pickup: {{ jam_pickup }}</p>
            <p>Tanggal Dropoff: {{ tanggal_dropoff }}</p>
            <p>Jam Dropoff: {{ jam_dropoff }}</p>
        </div>
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Deskripsi</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Biaya Sewa(/jam)</td>
                    <td>Rp{{ '{:,.0f}'.format(harga_per_jam) }}</td>
                </tr>
            </tbody>
        </table>
        <div class="invoice-total">
            <p><strong>Total Biaya:</strong> Rp{{ '{:,.0f}'.format(total_biaya) }}</p>
        </div>
        <div class="invoice-footer">
            <p>Terima kasih atas pemesanan Anda!</p>
        </div>
    </div>
    <center>
    <button class="print-button" onclick="printPage()">Cetak</button>
    <br>
    <br>
        <a href="/explore" class="button-box" style="font-size: 15px;">Kembali Ke Beranda</a>
    </center>
    <script>
        function printPage() {
          window.print();
        }
      </script>
</body>
</html>
