{% extends "base.html" %} {% block title %} Halaman Utama {% endblock %} {% block content %}
<section class="bg-login align-items-center body" style="height: 200%h; display: flex;">
  <div class="login-page" style="margin-top: 1px;">
    <div class="form" style=" max-width:560px; padding-bottom: 5%; margin-bottom: 1px;" >
      <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo" style="width: 25%; height: 25%" />
      <h4>LOGIN</h4>
      <div class="msg" style="color: red">{{ msg }}</div>
      <br />
      <form class="login-form" action="{{ url_for('login')}}" method="post">
        <label for="username"> </label>
        <input type="text" name="username" placeholder="Username" id="username" required autocomplete="off" />
        <label for="password"> </label>
        <div class="input-group">
          <input type="password" name="password" placeholder="Password" id="password" required autocomplete="off"/>
        </div>
        <br />
        <p class="small mb-5 pb-lg-2" style="margin-bottom: 1px;"><a class="text-dark-50 fw-bold" href="/reset">Forgot password?</a></p>
        <a href="{{ url_for('login')}}" style="padding-top: 2px;"><button>login</button></a>
      </form>
      <br>
      <center>
      <div>
        <p class="mb-0">Don't have an account? <a href="{{ url_for('tempat')}}" class="text-dark-50 fw-bold">Sign Up</a></p>
      </div>
    </center>
    </div>
  </div>
</section>
{% endblock %}
