<!DOCTYPE html>
<html>
<head>
    <title>Tabel Pesan</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Tabel Pesanan</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Jenis Mobil</th>
                <th>Tanggal Pickup</th>
                <th>Jam Pickup</th>
                <th>Tanggal Dropoff</th>
                <th>Jam Dropoff</th>
                <th>Harga Sewa Per Jam</th>
                <th>Total Biaya</th>
            </tr>
        </thead>
        <tbody>
            {% for pesan in pesan_list %}
            <tr>
                <td>{{ pesan[0] }}</td>
                <td>{{ pesan[1] }}</td>
                <td>{{ pesan[2] }}</td>
                <td>{{ pesan[3] }}</td>
                <td>{{ pesan[4] }}</td>
                <td>{{ pesan[5] }}</td>
                <td>{{ pesan[6] }}</td>
                <td>{{ pesan[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
