<!DOCTYPE html>
<html>
<head>
    <title>Rental Mobil</title>
</head>
<body>
    <h1>Sewa Mobil</h1>
    <form method="POST">
        <label for="nama_mobil">Jenis Mobil:</label>
        <select name="nama_mobil" id="nama_mobil">
            {% for mobil in mobil_list %}
            <option value="{{ mobil[2] }}">{{ mobil[2] }}</option>
            {% endfor %}
        </select><br><br>        
        <label for="tanggal_pickup">Tanggal Pickup:</label>
        <input type="date" name="tanggal_pickup" id="tanggal_pickup"><br><br>
        <label for="jam_pickup">Jam Pickup:</label>
        <input type="time" name="jam_pickup" id="jam_pickup"><br><br>
        <label for="tanggal_dropoff">Tanggal Dropoff:</label>
        <input type="date" name="tanggal_dropoff" id="tanggal_dropoff"><br><br>
        <label for="jam_dropoff">Jam Dropoff:</label>
        <input type="time" name="jam_dropoff" id="jam_dropoff"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
