<!DOCTYPE html>
<html>
  <head>
    <title>Ubah Mobil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      .container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
      }
      label {
        margin-top: 10px;
      }
      button[type="submit"] {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Ubah Pengguna</h1>

      <form action="/ubah_pengguna/{{ pengguna[0] }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="input-1">Username:</label>
          <input type="text" class="form-control" id="input-1" name="username" value="{{ pengguna[0] }}" required />
        </div>
        <div class="form-group">
          <label for="input-2">Email:</label>
          <input type="email" class="form-control" id="input-1" name="email" value="{{ pengguna[1] }}" required />
        </div>
        <div class="form-group">
          <label for="input-3">Nama Awal:</label>
          <input type="text" class="form-control" id="input-3" name="nama_awal" value="{{ pengguna[2] }}" required />
        </div>
        <div class="form-group">
          <label for="input-4">Nama Akhir:</label>
          <input type="text" class="form-control" id="input-4" name="nama_akhir" value="{{ pengguna[3] }}" required />
          </div>
          <div class="form-group">
          <label for="input-5">Dusun:</label>
          <input type="text" class="form-control" id="input-5" name="dusun" value="{{ pengguna[4] }}" required />
        </div>
        <div class="form-group">
          <label for="input-6">Kelurahan:</label>
          <select class="form-control" id="input-6" name="kelurahan" required>
            <option value="{{ pengguna[5] }}">{{ pengguna[5] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-7">Kecamatan:</label>
          <select class="form-control" id="input-7" name="kecamatan" required>
            <option value="{{ pengguna[6] }}">{{ pengguna[6] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-8">Kabupaten:</label>
          <select class="form-control" id="input-8" name="kabupaten" required>
            <option value="{{ pengguna[7] }}">{{ pengguna[7] }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-9">Provinsi:</label>
          <select class="form-control" id="input-9" name="provinsi" required>
            <option value="{{ pengguna[8] }}">{{ pengguna[8] }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
      </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
