{% extends "navuser.html" %} {% block title %} User {% endblock %} {% block content %}
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
<div class="jumbotron" id="user" style="background-color: rgb(129, 86, 255); padding-top: 10px; color: aliceblue">
  <a href="#" class="ignielToTop"></a>
  <br />
  <div style="text-align: center" class="container">
    <div class="lc-block mb-3">
      <!-- <div class="d-sm-flex"> -->
      <div editable="rich">
        <div class="ml11 w-bold display-3">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">Timbang Mlaku Transportation</span>
          </span>
        </div>
        <!-- </div> -->
      </div>
      <div class="lc-block mb-5">
        <div id="banner">
          <p class="rfs-8 ml12">Solusi Urusan Transportasi Jogja</p>
        </div>
      </div>
      <p style="font-size: 20px">Semua urusan transportasi mulai dari liburan, perjalanan bisnis, dan acara lainnya di Jogja serahkan saja kepada Timbang Mlaku Transport, Penyedia Layanan Jasa Sewa Mobil Terbaik di Jogja.</p>
      <br />
      <div class="body">
        <div class="containera" id="index">
          <div class="box box0">
            <h2>Armada Banyak</h2>
            <p>Sebagai salah satu penyedia layanan transportasi di Kota Jogja, kami terus menambahkan unit secara rutin dan berbagai jenis armada sehingga bisa memenuhi kebutuhan pelanggan yang berbeda-beda.</p>
          </div>
          <div class="box box1">
            <h2>Driver Ramah</h2>
            <p>Driver kami merupakan driver yang bukan hanya berpengalaman dan profesional. Lebih dari itu driver kami juga ramah terhadap pelanggan, sehingga anda akan merasa nyaman dalam melakukan perjalanan.</p>
          </div>
          <div class="box box2">
            <h2>Harga Murah</h2>
            <p>Dibandingkan kompetitor lain, Hello World Transport hadir dengan harga yag relatif lebih murah. Memberikan harga terjangkau sebagai bentuk komitmen kami untuk bisa memenuhi semua kebutuhan pelanggan.</p>
          </div>
          <div class="box box3">
            <h2>Antar Jemput Gratis</h2>
            <p>Untuk kemudahan perjalanan Anda, kami menghadirkan layanan antar jemput gratis dari beberapa drop point di Jogja. Layanan ini sudah include ketika Anda melakukan pemesanan armada dengan driver dan BBM.</p>
          </div>
        </div>
      </div>
      <br>
      <a href="/sewa"><button class="button">Booking Mobil Sekarang</button></a>
    </div>
    <div class="about-section" style="margin-top: -2rem;">
      <h1>Tentang Kami</h1>
      <p style="font-size: 18px;">Timbang Mlaku merupakan perusahaan yang bergerak di bidang jasa penyewaan kendaraan bermotor khususnya mobil yang beroperasi di wilayah Jogja dan sekitarnya mengakomodasi segala kebutuhan mobil anda untuk berbagai keperluan seperti liburan, pulang kampung, keperluan kampung dan lain lain dengan berbagai tujuan di pulau Jawa,memastikan perjalanan anda aman dan nyaman,kami selalu melakukan maintanain secara berkala,servis rutin dan juga pengecekan kendaraan sebelum serah terima dengan konsumen.</p>
    </div>
    <h2 style="text-align:center; padding-bottom: 2rem;"> Fasilitas Unggulan Timbang Mlaku Transport</h2>
    </style>
      <div class="body">
        <div class="containera" id="unggulan">
          <div class="box">
            <img src="/static/img/murah.png" alt="1" style="width:100px; padding-bottom: 5%">
            <br>
            <h4>Harga Terjangkau</h4>
            <p>Kami jamin tarif yang kami tawarkan sangat murah kompetitif</p>
          </div>
          <div class="box">
            <img src="/static/img/mobilterawat.png" alt="2" style="width:100px; padding-bottom: 5%">
            <br>
            <h4>Kondisi Mobil Terawat</h4>
            <p>Perawatan rutin selalu kami lakukan, yaitu perawatan mobil harian, mingguan bulanan.</p>
          </div>
          <div class="box">
            <img src="/static/img/pengalaman.png" alt="3" style="width:100px; padding-bottom: 5%">
            <br>
            <h4>Supir Berpengalaman</h4>
            <p>Supir yang kami berikan kepada Anda telah berpengalaman dan mengenal wilayah.</p>
          </div>
          <div class="box">
            <img src="/static/img/travelmudah.png" alt="1" style="width:100px; padding-bottom: 5%">
            <br>
            <h4>Antar Jemput Gratis</h4>
            <p>Proses travel cukup mudah, hanya telepon atau WA ke admin kami.</p>
          </div>
        </div>
      </div>
      <br />
    <div style="text-align: center">
      <br />
      <h1>Informasi Tentang Kami</h1>
      <br />
    </div>
    <div class="body" style="padding-bottom: 5%;">
      <div class="containera-info" id="pemesanan">
        <h2 style="text-align: center">Cara Pemesanan Mobil</h2>
        <hr />
        <div style="text-align: left">
          <p>1. Calon penyewa mengisi data lengkap pada form booking</p>
          <p>2. Jika sudah di isi maka tekan submit</p>
          <p>3. Maka akan muncul keterangan berhasil</p>
          <p>
            4. Tunggu beberapa saat maka admin akan menghubungi melalui <br />
            &nbsp; &nbsp; WhatsApp untuk melakukan konfirmasi dan validasi data
          </p>
          <p>5. Selanjutnya user akan diminta untuk melakukan <br />&nbsp; &nbsp; Pembayaran DP ataupun full</p>
          <p>6. Penyewaan mobil telah berhasil</p>
          <p>7. Mobil dan driver akan datang sesuai permintaan anda &#128522;</p>
        </div>
      </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script src="{{ url_for('static', filename='js/javascrip.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}
