<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elite Rent Car</title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet" />
  </head>

  <body>
    <header class="header" data-header>
      <div class="container">
        <div class="overlay" data-overlay></div>

        <a href="/" class="logo">
          <img src="/static/img/logo.png" alt="Elite Rent Car" />
        </a>

        <nav class="navbar" data-navbar>
          <ul class="navbar-list">
            <li>
              <a href="/" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li>
              <a href="/explore" class="navbar-link" data-nav-link>Explore</a>
            </li>

            <li>
              <a href="/about" class="navbar-link" data-nav-link>About</a>
            </li>
          </ul>
        </nav>

        <div class="header-actions">

          {% if session['username'] %}
          <a href="/logout_user" class="btn" aria-labelledby="aria-label-txt">
            <span id="aria-label-txt">Hi, {{ session['username'] }}</span>
          </a>
          {% else %}
          <a href="/login" class="btn " aria-label="Profile">
            <span id="aria-label-txt">Login</span>
          </a>
          {% endif %}



          <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
          </button>
        </div>
      </div>
    </header>

    <main>
      <article>



        <!--
        - #GET START
      -->

        <section class="section get-start">
          <div class="container">
            <h2 class="h2 section-title">Get started with 4 simple steps</h2>
            <ul class="get-start-list">
              <li>
                <div class="get-start-card">
                  <div class="card-icon icon-1">
                    <ion-icon name="person-add-outline"></ion-icon>
                  </div>
                  <h3 class="card-title">Create a profile</h3>
                  <p class="card-text">If you are going to use a passage of Lorem Ipsum, you need to be sure.<a href="/explore" class="card-link">Get started</a></p>

                </div>
              </li>
              <li>
                <div class="get-start-card">
                  <div class="card-icon icon-2">
                    <ion-icon name="car-outline"></ion-icon>
                  </div>
                  <h3 class="card-title">Tell us what car you want</h3>
                  <p class="card-text">Various versions have evolved over the years, sometimes by accident, sometimes on purpose</p>
                </div>
              </li>
              <li>
                <div class="get-start-card">
                  <div class="card-icon icon-3">
                    <ion-icon name="person-outline"></ion-icon>
                  </div>
                  <h3 class="card-title">Match with seller</h3>
                  <p class="card-text">It to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                </div>
              </li>
              <li>
                <div class="get-start-card">
                  <div class="card-icon icon-4">
                    <ion-icon name="card-outline"></ion-icon>
                  </div>
                  <h3 class="card-title">Make a deal</h3>
                  <p class="card-text">There are many variations of passages of Lorem available, but the majority have suffered alteration</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </article>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="footer-brand">
            <a href="/" class="logo">
              <img src="/static/img/logo.png" alt="Elite Rent Car"/><span>Elite Rent Car</span>
            </a>
            <p class="footer-text">Solusi untuk rental mobil dengan kualitas yang teruji dan terpercaya.</p>
          </div>

          <ul class="footer-list">
            <li><p class="footer-list-title">Company</p></li>
            <li><a href="about" class="footer-link">About</a></li>
            <li><a href="explore" class="footer-link">Pricing plans</a></li>
            <li><a href="about" class="footer-link">Our blog</a></li>
            <li><a href="#" class="footer-link">Contacts</a></li>
          </ul>

          <ul class="footer-list">
            <li><p class="footer-list-title">Support</p></li>
            <li><a href="#" class="footer-link">Help center</a></li>
            <li><a href="#" class="footer-link">Ask a question</a></li>
            <li><a href="#" class="footer-link">Privacy policy</a></li>
            <li><a href="#" class="footer-link">Terms & conditions</a></li>
          </ul>

          <ul class="footer-list">
            <li><p class="footer-list-title">Mitra</p></li>
            <li><a href="https://www.jet.co.id" class="footer-link">J&T</a></li>
            <li><a href="https://www.jne.co.id" class="footer-link">JNE</a></li>
            <li><a href="https://www.shopee.com" class="footer-link">Shopee</a></li>
            <li><a href="https://www.tokopedia.com" class="footer-link">Tokopedia</a></li>
            <li><a href="https://traveloka.com" class="footer-link">Traveloka</a></li>
            <li><a href="https://www.x.com" class="footer-link">X</a></li>
            <li><a href="https://www.aerostreet.co.id" class="footer-link">Aerostreet</a></li>
            <li><a href="https://www.astra-honda.com" class="footer-link">Ahass</a></li>
          </ul>
        </div>

        <div class="footer-bottom">
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-skype"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="mail-outline"></ion-icon>
              </a>
            </li>
          </ul>

          <p class="copyright">&copy; 2024 <a href="#">eliterentcar</a>. All Rights Reserved</p>
        </div>
      </div>
    </footer>

    <!--
    - custom js link
  -->
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
